<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout( ~{::section} )" >
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>	
<body>
	
	<section>
		<h1>This is About page</h1>
		<h1>_____________________________________________________________________________</h1>
		<h2>This is an Employee Department Management module CRUD API</h2>
		<h2>This project is made with the help of Spring Boot</h2>
		<h2>These are the concepts which were used while making this project </h2>
		<h3>1) Tomcat server (Inbuilt))</h3>
		<h3>2) Spring MVC and Spring Web (Thymleaf)</h3>
		<h3>3) Database : MySQL</h3>
		<h3>4) Spring data jpa for storing data in database</h3>
		<h3>5) Validation concept used for wrong input in registration form</h3>
		<h3>6) Mapping of tables is done with the help of @OneToMany annotation</h3>
		<h3>7) Exception handling done in every method related to fetching of data</h3>
		
	</section>
	
</body>
</html>