<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Employee Dashboard</title>
</head>

<body>

	<!-- NAVBAR -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Employee Department Management</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/add-emp}" href="#">ADD EMPLOYEE</a>
				</li>

			</ul>
		</div>
	</nav>

	<!-- NAVBAR -->
	
	<div th:if=" ${session.message} " th:classappend=" ${session.message.type} " class="alert" role="alert">
  			<p class="text-center" th:text=" ${session.message.content} " ></p>
  			<th:block th:text=" ${@sessionHelper.removeMessageFromSession()} "></th:block>
	</div>

	<!-- TABLE -->

	<div class="container p-5">

		<table class="table table-striped">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">Employee ID</th>
					<th scope="col">Name</th>
					<th scope="col">Gender</th>
					<th scope="col">Age</th>
					<th scope="col">E-mail</th>
					<th scope="col">Job Department (Role)</th>
					<th scope="col">Salary</th>
					<th scope="col">Qualification</th>
					<th scope="col">Manager ID</th>
					<th scope="col">ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" e : ${emp}  " >
					<th th:text="${e.empId}"></th>
					<td th:text="${e.name}" ></td>
					<td th:text="${e.gender}" ></td>
					<td th:text="${e.age}" ></td>
					<td th:text="${e.empEmail}" ></td>
					<td th:text="${e.jobDepartment}" ></td>
					<td th:text="${e.salary}" ></td>
					<td th:text="${e.qualification}" ></td>
					<td th:text="${e.manager}" ></td>
					<td>
						<a class="btn btn-sm btn-primary" th:href="@{/edit/{empId}(empId=${e.empId})}" >EDIT</a>
						<a class="btn btn-sm btn-danger" th:href="@{/delete/{empId}(empId=${e.empId})}">DELETE</a>						
					</td>
				</tr>				
			</tbody>
		</table>
	</div>

	<!-- TABLE -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>