<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout( ~{::section} )}" >
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>	
<body>
	
	<section class="banner d-flex justify-content-center align-items-center " >
		
		<div class="text-center">
		
		<h1 class="font-weight-bold">Employee Management Module</h1>
		
		<p>Start managing your employees data in a smarter way!</p>
		
		<button th:href="@{/emp-dashboard}" class="btn bg-primary btn-lg text-white" >Get Started</button>
		
		</div>
	</section>
	
</body>
</html>